* {
    margin: 0;
}

main {
    margin: 0 10%;
}
 
/* Navigation Bar */

header {
    background-color:#2c4141; 
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 100%;
    position: sticky;
    top: 0px; 
}

.nav-bar ul {
    text-align: center;
}

.nav-bar li, a{
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    padding-right: 40px;
    padding-bottom: 20px;
}

.nav-bar a:hover {
    color: #591C21;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: solid;
    padding: 20px;
}
/*main content*/

/* Color-container */
.title-section {
    padding: 30px;
    text-align: center;
}
.color-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

  /* Appel Red */

.color-label-appel_red {
    color: #000000;
    font-weight: 700;
    
}
.color-hex-appel_red {
    background-color: #8c1f28;
}
.color-rgb-appel_red {
    background-color: rgb(140, 31, 40);
}
.color-rgba-appel_red {
    background-color: rgba(140, 31, 40, 1);
}
.color-hsl-appel_red {
    background-color: hsl(335, 64%, 34%);
}
.color-hsla-appel_red {
    background-color: hsla(335, 64%, 34%, 1);
}

/* Dark Red */

.color-label-dark_red {
    color: #000000;
    font-weight: 700;
}
.color-hex-dark_red {
    background-color: #591C21;
    
}
.color-rgb-dark_red {
    background-color: rgb(89, 28, 33);
}
.color-rgba-dark_red {
    background-color: rgba(89, 28, 33, 1);
}
.color-hsl-dark_red {
    background-color: hsl(355, 52%, 23%);
}
.color-hsla-dark_red {
    background-color: hsla(355, 52%, 23%, 1);
}

/* Dark Forest Green */

.color-label-forest_green {
    color:#0f0e0e;
    font-weight: 700;
}
.color-hex-forest_green {
    background-color: #044040;
}
.color-rgb-forest_green {
    background-color: rgb(4, 64, 64);
}
.color-rgba-forest_green {
    background-color: rgba(4, 64, 64, 1);
}
.color-hsl-forest_green {
    background-color: hsl(180, 88%, 13%);
}
.color-hsla-forest_green {
    background-color: hsla(180, 88%, 13%, 1);
}

/* Dark Bleu */

.color-label-forest_green {
    color:#0c0b0b;
    font-weight: 700;
}
.color-hex-dark_bleu {
    background-color: #011F26;
}
.color-rgb-dark_bleu {
    background-color: rgb(1, 31, 38) ;
}
.color-rgba-dark_bleu {
    background-color: rgba(1, 31, 38, 1);
}
.color-hsl-dark_bleu {
    background-color: hsl(191, 95%, 8%);
}
.color-hsla-dark_bleu {
    background-color: hsla(191, 95%, 8%, 1);
}


/* Fonts playfair-display*/

.font-container {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 30px;
    
}  

.font-panel {
    box-shadow: 12px 12px 12px 1px #b9b9b9;
}
.font-label-playfair-display {
   background-color: #591C21;
   font-size: 20px;
   padding: 30px;
   color: #ffffff;
   text-align: center;
}

.regular-playfair-display {
   font-family: 'playfair Display', serif;
   font-style: normal;
   font-size: 16px;
}

.bold-playfair-display {
   font-family: 'playfiar Display', serif;
   font-weight: 700;
   font-size: 16px;
}

.italic-playfair-display {
   font-family: 'playfiar Display', serif;
   font-style: italic;
   font-size: 16px;
}

/* Fonts rubik*/

.font-label-rubik {
   background-color: #591C21;
   font-size: 20px;
   padding: 30px;
   color: rgb(255, 255, 255);
   text-align: center;
}

.regular-rubik {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-size: 16px;
}

.bold-rubik {
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
   font-size: 16px;
}

.italic-rubik {
   font-family: 'Rubik', sans-serif;
   font-style: italic;
   font-size: 16px;
}

/* font Titillium Web */

.font-label-titillium-web {
   background-color: #591C21;
   font-size: 20px;
   padding: 30px;
   color: rgb(255, 254, 254);
   text-align: center;
}

.regular-titillium-web {
   font-family: 'Titillium Web', sans-serif;
   font-style: normal;
   font-size: 16px;
}

.bold-titillium-web {
   font-family: 'Titillium Web', sans-serif;
   font-weight: 700;
   font-size: 16px;
}

.italic-titillium-web {
   font-family: 'Titillium Web', sans-serif;
   font-style: italic;
   font-size: 16px;
}

/*Text Style*/

.text-container {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    padding-bottom: 30px;
}

.text-panel h1{
    font-weight: 700;
    font-size: 30px;
    font-family: 'playfiar Display', serif;

} 

.text-panel h2{
    font-weight: 500;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;

} 
.text-panel h3{
    font-weight: 500;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;;

} 


/* footer styles */

footer {
    background-color: #011F26;
    text-align: center;
    height: 200px;
}
.info-details li {
    text-decoration: none;
}

.info-details {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    gap: 10px;
    text-align: justify;
    color: #ffffff;
    justify-items: center;
}
.info {
    padding: 20px;
}


.info h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: solid;
    padding-bottom: 20px;
}

.info-details ul li {
    list-style-type: none;
}
.info h3:hover{
    color: #591C21;
}
.help h3 {
    text-align: center;
    padding: 20px;
    color: #696969;
}

.social h3 {
    text-align: center;
    padding: 20px;
    color: #696969;
}
.social h3:hover {
    color:#f5f5f5;
}
.help h3:hover {
    color:#f5f5f5;
}
.help {
    line-height: 10px;
}

.social {
    line-height: 10px;
}

